# App
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ENCRYPTION_SECRET=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/botflow

# Redis (BullMQ)
REDIS_URL=redis://localhost:6379

# Storage (valores padrão — podem ser sobrescritos via admin panel)
DEFAULT_STORAGE_PROVIDER=s3
DEFAULT_STORAGE_BUCKET=
DEFAULT_STORAGE_REGION=us-east-1
DEFAULT_STORAGE_ENDPOINT=
DEFAULT_STORAGE_ACCESS_KEY_ID=
DEFAULT_STORAGE_SECRET_ACCESS_KEY=

# Live Streaming (MediaMTX)
MEDIAMTX_URL=http://mediamtx:8889
NEXT_PUBLIC_MEDIAMTX_URL=https://midgard-proto.me:8889
NEXT_PUBLIC_HLS_URL=https://midgard-proto.me:8888

# Seed (owner inicial)
SEED_OWNER_EMAIL=admin@botflow.com
SEED_OWNER_PASSWORD=
SEED_OWNER_NAME=Admin
